body {
    font-family: 'Arial', sans-serif;
}

h3 {
    font-size: 1.25em;
    color: #192112;
    font-weight: 300;
    margin: 0;
}

hr {
    margin: 1.6em 0;
    border: none;
    border-bottom: 1px solid #e5e7ea;
}

.hr-half {
    background: #999;
    width: 50%;
    margin: 1em auto;
}

.text-xs {
    font-size: .75em;
}

.text-sm {
    font-size: .875em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}

.description {
    color: #333;
    margin: 20px auto;
    padding: 10px;
    background-color: #ddd0d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.stage {
    animation: fadeIn 2s ease-in-out;
    color: #555;
    margin: 20px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 1px solid #009688;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stage-meta {
    display: block;
    font-style: italic;
}

.stage-animatrice-nom {
    line-height: 1.25;
}

.stage-animatrice-pic {
    max-width: 6em;
    float: left;
    margin: .5em 1em 0 0;
    overflow: hidden;
    border-radius: 50%;
}

.stage-animatrice-bio {
    min-height: 5em;
}

.stage-finis .stage {
    opacity: .5;
}

.stage-finis .stage-animatrice-pic {
    filter: grayscale(1);
}