hr {
    height: 0;
    margin: 1.6em 0;
    padding: 0;
    border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #e5e7ea;
}

.text-xs {
    font-size: .75em;
}

.text-sm {
    font-size: .875em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}

.stage-animatrice-nom {
    line-height: 1.25;
}

.stage-animatrice-pic {
    max-width: 6em;
    float: left;
    margin: .5em 1em 0 0;
    overflow: hidden;
    border-radius: 50%;
}