---
layout: base
---

<style>
  .bando {
    width: 100%;
  }

  .stage-animatrice-bio {
    color: #555;
  }

</style>


<img src="{{ "assets/bando/" | append: page.image | relative_url }}" alt="Une personne méditant sous un arbre" class="bando">

<article class="event h-entry" itemscope itemtype="http://schema.org/Blogeventing">
<footer class="stage-animatrice text-sm">
  <figure class="stage-animatrice-pic" role="group">
    <img src="{{ "assets/animatrices/" | append: page.image_animatrice | relative_url }}" alt="{{ page.nom_animatrice }}">
    <figcaption class="sr-only">{{ page.nom_animatrice }}</figcaption>
  </figure>
  <h3 class="stage-animatrice-nom">
    <span class="text-xs">Animé par</span>
    <em>{{ page.nom_animatrice }}</em>
  </h3>
  <p class="stage-animatrice-bio">{{ page.bio_animatrice }}</p>
</footer>

  <header class="event-header">
    <h1 class="event-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="event-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
  </header>

  <div class="event-content e-content" itemprop="articleBody">
    {{ page.image_animatrice }} <br>
    {{ page.animatrice }} <br>
    {{ page.date_debut }} <br>
    {{ page.date_fin }} <br>
    {{ page.titre }} <br>
    {{ page.image }} <br>
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>